<div class="main-content">
    <div class="container-fluid">
        <h1>Lista de Usuarios</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Usuarios Registrados en el sistema</h4>
                        <p class="category">Los siguientes usuarios tienen permiso de escritura de informacion relacionada a las plantas en el sistema</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let column of data_two_way_headers">{{ column }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of data_two_way_content">
                                        <td>{{data.name}}</td>
                                        <td>{{data.lastname}}</td>
                                        <td>{{data.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>